{% extends "blog/base.html" %}
{% block title %}My Blog{% endblock %}
{% block content %}
    <div class="blog-list clearfix">
    {% for post in posts %}
        <div class="blog-box row">
            <div class="col-md-4">
                <div class="post-media">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="upload/tech_blog_01.jpg" alt="" class="img-fluid">
                        <div class="hovereffect"></div>
                    </a>
                </div><!-- end media -->
            </div><!-- end col -->

            <div class="blog-meta big-meta col-md-8">
                <h4><a href="{{ post.get_absolute_url }}" title="">{{ post.title }}</a></h4>
                <p>{{ post.body|truncatewords:30|linebreaks }}</p>
                <small class="firstsmall"><a class="bg-orange" href="tech-category-01.html" title="">Reviews</a></small>
                <small><a href="detail.html" title="">{{ post.publish }}</a></small>
                <small><a href="tech-author.html" title="">by {{ post.author }}</a></small>
                <small><a href="detail.html" title=""><i class="fa fa-eye"></i> 1114</a></small>
            </div><!-- end meta -->
        </div><!-- end blog-box -->

        <hr class="invis">
    {% endfor %}
    </div><!-- end blog-list -->
    {% include "blog/pagination.html" with page=posts %}
{% endblock %}